**Variable in Python**

In [24]:
#How Varianle in python is Define

#Variable Assigment
x= 10    #integer
y = 3.14  #Float
Name = 'Seyfan'   #string'
is_active = False  #Boolen

print(x,y, Name, is_active)

10 3.14 Seyfan False

**Arthematic Operation**

In [21]:
#Arthamatic Operations 
x = 17/3    #classic division returns a float
x1 = int(17/3) #classic division returns change into a integor 
y= 18//3        # floor division discards the fractional part
z = 17%3      # the % operator returns the remainder of the division 
r= 5 * (3 + 2)-3  # floored quotient * divisor + remainder Using BODMAS

print(x, x1, y, z,r)

5.666666666666667 5 6 2 22

In [23]:
tax = 12.5 / 100  # Tax rate
price = 100.50  # Price
profit = price * tax  # Calculate profit
#price = price - profit
price = price - round(profit, 2)  # Subtract profit (rounded to 2 decimals) from price
print(tax,profit, price)  # Print profit and updated price

0.125 12.5625 87.94

**How to Break a line with ( Using \n starts newline)**

In [38]:
s = 'First line.\nSecond line.\nThird line.'  # \n means newline

print(s)  # with print(), special characters are interpreted, so \n produces new line.

First line.
Second line.
Third line.

In [40]:
def greet_customer():
    print("Welcome to the Bank of America!")
    print('Well come to the Bank of CBE')
print('Well come to the Bank of ALL')
greet_customer()

Well come to the Bank of ALL
Welcome to the Bank of America!
Well come to the Bank of CBE

**How to add a string or words in Python**

In [46]:
# 3 times 'un', followed by 'ium'
x = 3 * 'un' + 'ium'
y= 2* 'Seyfan' + 'Kelil'
z = 'py' 'thon'
print(x,y, z)

unununium SeyfanSeyfanKelil python

In [57]:
text = ('Put several strings within parentheses '

        'to have them joined together.')
text1 = ('Put several strings within parentheses '

        'to have them joined together. .\n')

text2= ('I am Seyfan living in USA '
        'Starting from August 2024')

print(text, text1, text2)

Put several strings within parentheses to have them joined together. Put several strings within parentheses to have them joined together. .
 I am Seyfan living in USA Starting from August 2024

**How to Replace or add a value**

In [68]:
cubes = [1,8,27,65,125]  #something's wrong here  [1, 2, 3, 4, 5]
#cubes [0] = 0      #making empety
#cubes = []
cubes[3]=64    #replace the wrong value
print(cubes)

[1, 8, 27, 64, 125]

In [71]:
rgb = ["Red", "Green", "Blue"]
rgba = rgb               #Logical expression 
print(id(rgb)!=id(rgba))   #they reference the same object
rgba.append("Alph")       #adding other data
rgba.append("Seyfan")
print(rgb)

False
['Red', 'Green', 'Blue', 'Alph', 'Seyfan']

**Keywords**

**1. append()**==>Adds an element to the end of the list.

<font size = "5"> **list_name.append(element)**

In [74]:
my_list = [1, 2, 3]
my_list.append(4)
my_list.append(8)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4, 8]

 **2. reverse()**==>Reverses the elements of the list in place.

<font size = "5"> **list_name.reverse()**

In [77]:
my_list = [1, 2, 3]
x= ['A', 'B', 'C', 'D', 'E']
my_list.reverse()
x.reverse()
print(my_list)  # Output: [3, 2, 1]
print(x)        #Output: ['A', 'B', 'C', 'D', 'E']

[3, 2, 1]
['E', 'D', 'C', 'B', 'A']

**3. insert()** ==>Inserts an element at a specific index.

<font size = "5"> **list_name.insert(index, element)**

**index** is a place of the value in the list

**element** is the value of the data

In [80]:
my_list = [1, 3, 4]
my_list.insert(0, 2)  # Insert 2 at index 1
my_list.insert(2,'a')
print(my_list)  # Output: [1, 2, 3, 4]

[2, 1, 'a', 3, 4]

<font size = "5"> **4. remove()**==>Removes the first occurrence of a specified element.

<font size = "3"> **list_name.remove(element)**

remove works removing the value you want 


ValueError: list.remove(x): x not in list

In [105]:
my_list = [1, 2, 3, 2]
my_list.append('a')
my_list.insert(0, 'c')
#my_list.extend(['d', 'k', 7,8, 9.5])
my_list.remove(2)  # Removes the first 2
print(my_list)  # Output: [1, 3, 2]

['c', 1, 3, 2, 'a']

<font size = "5"> **5. pop()**==>Removes and returns the element at the specified index (default is the last element).

list_name.pop(index)  # Index is optional

In [98]:
my_list = [1, 2, 3, 'a', 'v']
element = my_list.pop()  # Removes and returns the last element
print(element)  # Output: 3
print(my_list)  # Output: [1, 2]

v
[1, 2, 3, 'a']

<font size = "5"> **6. sort()Sorts the list in place (ascending by default).**

list_name.sort(reverse=False)  # `reverse=True` for descending order

In [101]:
my_list = [3, 1, 2]
x = ['a', 'c', 'g', 'u']
x.sort()
my_list.sort()
print(my_list)  # Output: [1, 2, 3]
print(x)

[1, 2, 3]
['a', 'c', 'g', 'u']

<font size = "5"> **7. extend()**==>Extends the list by appending elements from another iterable (e.g., list, tuple).

**list_name.extend(iterable)**

In [107]:
my_list = [1, 2]
my_list.extend([3, 4, 'g', 'm'])
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4, 'g', 'm']

<font size = "5"> **8. clear()**==>Removes all elements from the list.

**list_name.clear()**

In [111]:
my_list = [1, 2, 3]
my_list.clear()
my_list=[]
print(my_list)  # Output: []

[]